In [1]:
import pandas as pd
import re

### Formatting Data
Pandas dataframe. Currently, data is stored as a list of strings.

Things Saved:
- Player names and elos
- PGN
- Opening

In [9]:
games = pd.DataFrame(columns=["White Name", "Black Name", "Opening", "White Elo", "Black Elo", "PGN"])

with open("games_condensed.txt", "r") as file:
    for line in file:
        line = line.split(",")

        # Don't include wacky variants like Chess960
        if "Variant" in line[3]:
            continue
        
        # Remove unnecessary features
        indices=[2, 3, 4, 6, 7, 8, 11, 12, 13, 14, 15, 16, 17, 19]  # Manually found
        for i in sorted(indices, reverse=True):
            del line[i]

        # Parse strings to get valuable information
        pattern = r'\\"(.*?)\\"'  # This string pattern encloses all important info
        for i in range(0, 5):
            match = re.search(pattern, line[i])
            if match:
                line[i] = match.group(1)
        
        games.loc[games.shape[0]] = line

In [10]:
games.head()

,White Name,Black Name,Opening,White Elo,Black Elo,PGN
0,colinsong1,TimeFish_576,B06,1604,1609,"""1. e4 {[%clk 0:03:00]} 1... g6 {[%clk 0:02:5..."
1,colinsong1,Octopus6666,B22,1596,1600,"""1. e4 {[%clk 0:03:00]} 1... c5 {[%clk 0:03:0..."
2,TimeFish_576,kimmmanhhh,A21,1564,1522,"""1. c4 {[%clk 0:03:00]} 1... e5 {[%clk 0:03:0..."
3,TimeFish_576,Tavusheci,A15,1548,1563,"""1. c4 {[%clk 0:03:00]} 1... c5 {[%clk 0:02:5..."
4,Octopus6666,S11chandru,D02,1625,1607,"""1. d4 {[%clk 0:03:00]} 1... d5 {[%clk 0:03:0..."